.solid-background{
    background-color: white !important;
}
.b-border-black{
    border-bottom: rgba(157, 157, 157, 0.3) solid 1px;
}
.black-text{
    color: black !important;
}
.transition{
    transition: background-color 0.3s ease;
}
.addToCart{
    background-color: black;
    padding: 0.5rem;
    margin: 1rem;
}
.selected {
    background-color: rgb(255, 255, 255);
    border: 1px black solid;
}
.navbar-ul{
    list-style-type: none;
}
.navbar-ul li{
    display: inline-block;
    padding: 0 1rem 0 1rem;
    font-size: 1rem;
    color: white;
}
.navbar {
    display: flex;
    justify-content: center;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.bodoni{
    font-family: 'Bodoni Moda', serif;
    color: white;
    font-size: 2.5rem;
}
.text-black{
    color: black;
}
.porsches, .sunglasses, .tables, .coffee{
    width: 100%;
    height: 30vh;
    display: none;
    background-color: transparent;
    border-top: 1px solid rgba(0, 0, 0, 0.129);
    transition: background-color 0.3s ease;
    color: rgb(0, 0, 0);
}