<div class="fixed z-10 w-[100%]">
  <div
    class="display: flex items-baseline justify-between py-3 transition-colors duration-300 ease-in-out border-b border-white border-opacity-20"
    [ngClass]="{ 'solid-background': scrolled, 'b-border-black': scrolled }"
  >
    <span
      class="text-white font-normal ml-[2.5vw] text-lg transition-colors duration-300 ease-in-out w-[25vw]"
      [ngClass]="{ 'text-black': scrolled }"
      >{{ currentTime | date : "EEEE, HH:mm:ss" }}</span
    >
    <a href=".">
      <span class="bodoni" [ngClass]="{ 'black-text': scrolled }"
        >Angular Shop</span
      >
    </a>
    <app-cart
      [cartItems]="cartItems"
      (removeFromCartEvent)="removeFromCart($event)"
    ></app-cart>
  </div>
  <div class="navbar" [ngClass]="{ 'solid-background': scrolled }" #navbar>
    <ul class="navbar-ul">
      <li
        (mouseenter)="onButtonEnter($event)"
        (mouseleave)="onButtonLeave()"
        class="porsches-btn"
      >
        <span href="" [ngClass]="{ 'black-text': scrolled }">Porsches</span>
      </li>

      <li
        (mouseenter)="onButtonEnter($event)"
        (mouseleave)="onButtonLeave()"
        class="sunglasses-btn"
      >
        <span href="" [ngClass]="{ 'black-text': scrolled }">Sunglasses</span>
      </li>
      <li
        (mouseenter)="onButtonEnter($event)"
        (mouseleave)="onButtonLeave()"
        class="tables-btn"
      >
        <span href="" [ngClass]="{ 'black-text': scrolled }">Tables</span>
      </li>
      <li
        (mouseenter)="onButtonEnter($event)"
        (mouseleave)="onButtonLeave()"
        class="coffee-btn"
      >
        <span href="" [ngClass]="{ 'black-text': scrolled }">Coffee</span>
      </li>
    </ul>
  </div>
  <div
    class="porsches"
    #porsches
    (mouseenter)="onDropdownEnter()"
    (mouseleave)="onDropdownLeave()"
  >
    porsches
  </div>
  <div
    class="sunglasses"
    #sunglasses
    (mouseenter)="onDropdownEnter()"
    (mouseleave)="onDropdownLeave()"
  >
    sunglasses
  </div>
  <div
    class="tables"
    #tables
    (mouseenter)="onDropdownEnter()"
    (mouseleave)="onDropdownLeave()"
  >
    tables
  </div>
  <div
    class="coffee"
    #coffee
    (mouseenter)="onDropdownEnter()"
    (mouseleave)="onDropdownLeave()"
  >
    coffee
  </div>
</div>

<app-slideshow [stock]="stock"></app-slideshow>
<!-- <button (click)="changeMessage()" class="text-black p-4">changeMessage</button> -->

<h1 class="text-6xl text-bold ml-[2.5vw] mb-[1.5vw]" id="shop">Shop</h1>

<div class="display: flex text-white flex-wrap mx-[1.5vw]">
  <div
    *ngFor="let Product of stock; let i = index"
    class="bg-white shadow mx-[1vw] w-[30vw] mb-[2vw]"
  >
    <div class="h-[35vh]">
      <img
        src="{{ Product.img }}"
        alt="My Image"
        class="h-[100%] w-[100%] object-cover"
      />
    </div>
    <h2 class="text-5xl text-bold text-black m-4">
      {{ Product.name | titlecase }}
    </h2>
    <p class="text-gray-400 font-light mt-4 ml-4">
      {{ Product.description }}
    </p>
    <button
      class="addToCart"
      (click)="addToCart(Product.name, i)"
      [class.selected]="i === selectedButtonIndex"
    >
      <span *ngIf="selectedButtonIndex === i" class="text-black"
        >Added To Cart</span
      >
      <img
        src="assets/checkmarkThin.svg"
        alt=""
        class="h-[1rem] display: inline mb-1 ml-4"
        *ngIf="selectedButtonIndex === i"
      />
      <span *ngIf="selectedButtonIndex != i">Add To Cart</span>
    </button>
  </div>
</div>
