<div class="fixed z-10 w-[100%]">
  <div
    class="display: flex items-baseline justify-between py-3 transition-colors duration-300 ease-in-out border-b border-white border-opacity-20"
    [ngClass]="{
      'solid-background': scrolled || navbarHovered,
      'b-border-black': scrolled || navbarHovered
    }"
  >
    <span
      class="text-white font-normal ml-[2.5vw] text-lg transition-colors duration-300 ease-in-out w-[25vw]"
      [ngClass]="{ 'text-black': scrolled || navbarHovered }"
      >{{ currentTime | date : "EEEE, HH:mm:ss" }}</span
    >
    <a href=".">
      <span
        class="bodoni"
        [ngClass]="{ 'black-text': scrolled || navbarHovered }"
        >Angular Shop</span
      >
    </a>
    <app-cart
      [cartItems]="cartItems"
      [navbarHovered]="navbarHovered"
      (removeFromCartEvent)="removeFromCart($event)"
    ></app-cart>
  </div>
  <div
    class="navbar"
    [ngClass]="{ 'solid-background': scrolled || navbarHovered }"
    #navbar
  >
    <ul class="navbar-ul">
      <li
        (mouseenter)="onButtonEnter($event)"
        (mouseleave)="onButtonLeave()"
        class="porsches-btn"
      >
        <span href="" [ngClass]="{ 'black-text': scrolled || navbarHovered }"
          >Porsches</span
        >
      </li>

      <li
        (mouseenter)="onButtonEnter($event)"
        (mouseleave)="onButtonLeave()"
        class="sunglasses-btn"
      >
        <span href="" [ngClass]="{ 'black-text': scrolled || navbarHovered }"
          >Sunglasses</span
        >
      </li>
      <li
        (mouseenter)="onButtonEnter($event)"
        (mouseleave)="onButtonLeave()"
        class="tables-btn"
      >
        <span href="" [ngClass]="{ 'black-text': scrolled || navbarHovered }"
          >Tables</span
        >
      </li>
      <li
        (mouseenter)="onButtonEnter($event)"
        (mouseleave)="onButtonLeave()"
        class="coffee-btn"
      >
        <span href="" [ngClass]="{ 'black-text': scrolled || navbarHovered }"
          >Coffee</span
        >
      </li>
    </ul>
  </div>
  <div
    class="porsches"
    #porsches
    (mouseenter)="onDropdownEnter()"
    (mouseleave)="onDropdownLeave()"
    [ngClass]="{ 'solid-background': navbarHovered }"
  >
    <div class="DropdownTextContainer">
      <div class="DropdownTextColumn">
        <h3>Models</h3>
        <ul>
          <li><a href="">911</a></li>
          <li><a href="">718</a></li>
          <li><a href="">Taycan</a></li>
          <li><a href="">Panamera</a></li>
          <li><a href="">Macan</a></li>
          <li><a href="">Cayenne</a></li>
        </ul>
      </div>
      <div class="DropdownTextColumn">
        <h3>Services</h3>
        <ul>
          <li><a href="">Online Bill Payment</a></li>
          <li><a href="">Delivery Programs</a></li>
          <li><a href="">Porsche Protection Plan</a></li>
          <li><a href="">Service & Maintenance</a></li>
        </ul>
      </div>
    </div>
    <div class="DropdownImgContainer">
      <div class="DropdownImgColumn">
        <div class="ImgText">
          <h2 class="text-white text-7xl">Porsche</h2>
          <button class="addToCart">
            <span class="text-white">Explore All</span>
          </button>
        </div>
        <img
          src="assets/porscheHr.jpg"
          alt=""
          class="h-[100%] w-[100%] object-cover"
        />
      </div>
      <div class="DropdownImgColumn">
        <div class="ImgText">
          <h2 class="text-white text-5xl text-center">Taycan Available Now!</h2>
          <button class="addToCart">
            <span class="text-white">Explore Taycan</span>
          </button>
        </div>
        <img
          src="assets/porscheHr.jpg"
          alt=""
          class="h-[100%] w-[100%] object-cover"
        />
      </div>
    </div>
  </div>
  <div
    class="sunglasses"
    #sunglasses
    (mouseenter)="onDropdownEnter()"
    (mouseleave)="onDropdownLeave()"
    [ngClass]="{ 'solid-background': navbarHovered }"
  >
    <div class="DropdownTextContainer">
      <div class="DropdownTextColumn">
        <h3>Models</h3>
        <ul>
          <li><a href="">911</a></li>
          <li><a href="">718</a></li>
          <li><a href="">Taycan</a></li>
          <li><a href="">Panamera</a></li>
          <li><a href="">Macan</a></li>
          <li><a href="">Cayenne</a></li>
        </ul>
      </div>
      <div class="DropdownTextColumn">
        <h3>Services</h3>
        <ul>
          <li><a href="">Online Bill Payment</a></li>
          <li><a href="">Delivery Programs</a></li>
          <li><a href="">Porsche Protection Plan</a></li>
          <li><a href="">Service & Maintenance</a></li>
        </ul>
      </div>
    </div>
    <div class="DropdownImgContainer">
      <div class="DropdownImgColumn">
        <div class="ImgText">
          <h2 class="text-white text-7xl">Sunglasses</h2>
          <button class="addToCart">
            <span class="text-white">Explore All</span>
          </button>
        </div>
        <img
          src="assets/porscheHr.jpg"
          alt=""
          class="h-[100%] w-[100%] object-cover"
        />
      </div>
      <div class="DropdownImgColumn">
        <div class="ImgText">
          <h2 class="text-white text-5xl text-center">Taycan Available Now!</h2>
          <button class="addToCart">
            <span class="text-white">Explore Taycan</span>
          </button>
        </div>
        <img
          src="assets/porscheHr.jpg"
          alt=""
          class="h-[100%] w-[100%] object-cover"
        />
      </div>
    </div>
  </div>
  <div
    class="tables"
    #tables
    (mouseenter)="onDropdownEnter()"
    (mouseleave)="onDropdownLeave()"
    [ngClass]="{ 'solid-background': navbarHovered }"
  >
    <div class="DropdownTextContainer">
      <div class="DropdownTextColumn">
        <h3>Models</h3>
        <ul>
          <li><a href="">911</a></li>
          <li><a href="">718</a></li>
          <li><a href="">Taycan</a></li>
          <li><a href="">Panamera</a></li>
          <li><a href="">Macan</a></li>
          <li><a href="">Cayenne</a></li>
        </ul>
      </div>
      <div class="DropdownTextColumn">
        <h3>Services</h3>
        <ul>
          <li><a href="">Online Bill Payment</a></li>
          <li><a href="">Delivery Programs</a></li>
          <li><a href="">Porsche Protection Plan</a></li>
          <li><a href="">Service & Maintenance</a></li>
        </ul>
      </div>
    </div>
    <div class="DropdownImgContainer">
      <div class="DropdownImgColumn">
        <div class="ImgText">
          <h2 class="text-white text-7xl">Tables</h2>
          <button class="addToCart">
            <span class="text-white">Explore All</span>
          </button>
        </div>
        <img
          src="assets/porscheHr.jpg"
          alt=""
          class="h-[100%] w-[100%] object-cover"
        />
      </div>
      <div class="DropdownImgColumn">
        <div class="ImgText">
          <h2 class="text-white text-5xl text-center">Taycan Available Now!</h2>
          <button class="addToCart">
            <span class="text-white">Explore Taycan</span>
          </button>
        </div>
        <img
          src="assets/porscheHr.jpg"
          alt=""
          class="h-[100%] w-[100%] object-cover"
        />
      </div>
    </div>
  </div>
  <div
    class="coffee"
    #coffee
    (mouseenter)="onDropdownEnter()"
    (mouseleave)="onDropdownLeave()"
    [ngClass]="{ 'solid-background': navbarHovered }"
  >
    <div class="DropdownTextContainer">
      <div class="DropdownTextColumn">
        <h3>Models</h3>
        <ul>
          <li><a href="">911</a></li>
          <li><a href="">718</a></li>
          <li><a href="">Taycan</a></li>
          <li><a href="">Panamera</a></li>
          <li><a href="">Macan</a></li>
          <li><a href="">Cayenne</a></li>
        </ul>
      </div>
      <div class="DropdownTextColumn">
        <h3>Services</h3>
        <ul>
          <li><a href="">Online Bill Payment</a></li>
          <li><a href="">Delivery Programs</a></li>
          <li><a href="">Porsche Protection Plan</a></li>
          <li><a href="">Service & Maintenance</a></li>
        </ul>
      </div>
    </div>
    <div class="DropdownImgContainer">
      <div class="DropdownImgColumn">
        <div class="ImgText">
          <h2 class="text-white text-7xl">Coffee</h2>
          <button class="addToCart">
            <span class="text-white">Explore All</span>
          </button>
        </div>
        <img
          src="assets/porscheHr.jpg"
          alt=""
          class="h-[100%] w-[100%] object-cover"
        />
      </div>
      <div class="DropdownImgColumn">
        <div class="ImgText">
          <h2 class="text-white text-5xl text-center">Taycan Available Now!</h2>
          <button class="addToCart">
            <span class="text-white">Explore Taycan</span>
          </button>
        </div>
        <img
          src="assets/porscheHr.jpg"
          alt=""
          class="h-[100%] w-[100%] object-cover"
        />
      </div>
    </div>
  </div>
</div>

<app-slideshow [stock]="stock"></app-slideshow>
<!-- <button (click)="changeMessage()" class="text-black p-4">changeMessage</button> -->

<h1 class="text-6xl text-bold ml-[2.5vw] mb-[1.5vw]" id="shop">Shop</h1>

<div class="display: flex text-white flex-wrap mx-[1.5vw]">
  <div
    *ngFor="let Product of stock; let i = index"
    class="bg-white shadow mx-[1vw] w-[30vw] mb-[2vw]"
  >
    <div class="h-[35vh]">
      <img
        src="{{ Product.img }}"
        alt=""
        class="h-[100%] w-[100%] object-cover"
      />
    </div>
    <h2 class="text-5xl text-bold text-black m-4">
      {{ Product.name | titlecase }}
    </h2>
    <p class="text-gray-400 font-light mt-4 ml-4">
      {{ Product.description }}
    </p>
    <button
      class="addToCart"
      (click)="addToCart(Product.name, i)"
      [class.selected]="i === selectedButtonIndex"
    >
      <span *ngIf="selectedButtonIndex === i" class="text-black"
        >Added To Cart</span
      >
      <img
        src="assets/checkmarkThin.svg"
        alt=""
        class="h-[1rem] display: inline mb-1 ml-4"
        *ngIf="selectedButtonIndex === i"
      />
      <span *ngIf="selectedButtonIndex != i">Add To Cart</span>
    </button>
  </div>
</div>
