.cart{
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    right: -40vw;
    top: 0;
    width: 40vw;
    height: 100vh;
    background-color: white;
    filter: drop-shadow(0 35px 35px rgba(0, 0, 0, 0.6))
}
.text-black{
    color:black;
}