<div class="display: flex justify-end z-50">
  <button
    (click)="setVisibility()"
    class="text-white font-normal text-3xl mr-[2.5vw] z-50"
    [ngClass]="{ 'text-black': elementVisible }"
  >
    Cart
  </button>
</div>

<div [@slideAnimation]="elementVisible ? 'visible' : 'hidden'" class="cart">
  <div
    *ngIf="cartItems.length === 0"
    class="display: flex justify-center mt-[49vh]"
  >
    <p class="text-black ml-4">Your Cart Is Empty.</p>
  </div>
  <div class="mt-[9rem]">
    <div *ngFor="let Item of cartItems" class="mx-4 mb-4 display: flex">
      <div class="w-[9rem] h-[6rem]">
        <img
          src="{{ Item.img }}"
          alt=""
          class="h-[100%] w-[100%] object-cover rounded-2xl"
        />
      </div>
      <div class="ml-4">
        <h2 class="text-2xl text-medium text-black">
          {{ Item.name | titlecase }}
        </h2>
        <p class="text-gray-400 text-sm font-extralight">
          {{ Item.description }}
        </p>
      </div>
      <div>
        <button class="text-black mt-1" (click)="removeFromCart(Item.name)">
          X
        </button>
      </div>
    </div>
  </div>
</div>
